---
import Link from "@/components/element/Link.astro"
import Fa6BrandsGithub from "~icons/fa6-brands/github"
import Fa6BrandsXTwitter from "~icons/fa6-brands/x-twitter"
import Fa6RegularEnvelope from "~icons/fa6-regular/envelope"
---

<div class="grid grid-cols-2 gap-2 md:grid-cols-4">
  <Link
    href="https://x.com/sushi_chan_sub"
    target="_blank"
    title="My twitter"
    variants={{ decoration: "none" }}
  >
    <div
      class="flex size-full flex-row items-center gap-x-2 rounded-lg p-2 outline outline-1 outline-gray-200 dark:outline-zinc-600"
    >
      <Fa6BrandsXTwitter />
      <span>X - normal</span>
    </div>
  </Link>
  <Link
    href="https://x.com/sushichan_044"
    target="_blank"
    title="My twitter for otaku activities"
    variants={{ decoration: "none" }}
  >
    <div
      class="flex size-full flex-row items-center gap-x-2 rounded-lg p-2 outline outline-1 outline-gray-200 dark:outline-zinc-600"
    >
      <Fa6BrandsXTwitter />
      <span>X - otaku</span>
    </div>
  </Link>
  <Link
    href="https://github.com/sushi-chaaaan"
    target="_blank"
    variants={{ decoration: "none" }}
  >
    <div
      class="flex size-full flex-row items-center gap-x-2 rounded-lg p-2 outline outline-1 outline-gray-200 dark:outline-zinc-600"
    >
      <Fa6BrandsGithub />
      <span>GitHub</span>
    </div>
  </Link>
  <Link
    href="mailto:mail@sushichan.live"
    target="_blank"
    title="mail to me"
    variants={{ decoration: "none" }}
  >
    <div
      class="flex size-full flex-row items-center gap-x-2 rounded-lg p-2 outline outline-1 outline-gray-200 dark:outline-zinc-600"
    >
      <Fa6RegularEnvelope />
      <span>Mail</span>
    </div>
  </Link>
</div>
