---
import BlogStyle from "@/components/blog/BlogStyle.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import MDXRenderer from "@/components/mdx/Renderer.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import Content from "@/pages/about/_about.mdx"
---

<BaseLayout>
  <BaseSEO description="About me" slot="seo" title="About me" />
  <ContentLayout>
    <BlogStyle>
      <h1 style={{ marginBlock: 0 }}>About me</h1>
      <MDXRenderer Content={Content} />
    </BlogStyle>
  </ContentLayout>
</BaseLayout>
