---
import ContentLayout from "@/components/common/ContentLayout.astro";
import MDXRenderer from "@/components/mdx/Renderer.astro";
import BlogStyle from "@/features/blog/components/BlogStyle.astro";
import BaseSEO from "@/features/meta/BaseSEO.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import AboutContent from "@/pages/about/_about.mdx";
import CodeContent from "@/pages/about/_code.mdx";
import SNS from "@/pages/about/_sns.astro";
---

<BaseLayout>
  <BaseSEO description="About me" slot="seo" title="About me" />
  <ContentLayout>
    <BlogStyle colorHeading={["h2"]}>
      <h1>About me</h1>
      <MDXRenderer Content={CodeContent} />
      <SNS />
      <div>
        <p>インターネットの片隅で音楽を聴いて生きています。</p>
        <p>2022年からプログラミングも始めました。</p>
      </div>
      <MDXRenderer Content={AboutContent} />
    </BlogStyle>
  </ContentLayout>
</BaseLayout>
