---
import BlogStyle from "@/components/blog/BlogStyle.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import MDXRenderer from "@/components/mdx/Renderer.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import AboutContent from "@/pages/about/_about.mdx"
import CodeContent from "@/pages/about/_code.mdx"
import SNS from "@/pages/about/_sns.astro"
---

<BaseLayout>
  <BaseSEO description="About me" slot="seo" title="About me" />
  <ContentLayout>
    <BlogStyle colorHeading={["h2"]}>
      <h1>About me</h1>
      <MDXRenderer Content={CodeContent} />
      <SNS />
      <div class="divider"></div>
      <div>
        <p>インターネットの片隅で生きています。</p>
        <p>2023年からプログラミングも始めました。</p>
      </div>
      <MDXRenderer Content={AboutContent} />
    </BlogStyle>
  </ContentLayout>
</BaseLayout>
