---
import TagLink from "@/components/blog/tag/TagLink.astro"

type Props = {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="flex flex-row flex-wrap gap-4">
  {tags.map((tag) => <TagLink tag={tag} />)}
</div>
