---
import Link from "@/components/base/Link.astro"

type Props = {
  tag: string
}

const { tag } = Astro.props
---

<span class="underline-offset-2">
  <Link href={`/blog/tag/${tag}`}>
    {`#${tag}`}
  </Link>
</span>
