@use "../../../../styles/variables" as var;
@use "../../../../styles/config/mixins" as mix;

.menu-root {
  li {
    list-style: none;
  }

  ul {
    padding-inline-start: 0;
  }
}

.menu-list {
  display: flex;
  gap: 1rem;

  @include mix.mq("md") {
    gap: 2rem;
  }

  a {
    font-size: 1.25rem;
  }

  li {
    margin-bottom: 0;
  }
}

.indicator[data-active] {
  text-decoration: underline;
  text-underline-offset: 0.375em;
}
