---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import BlogPostCard from "@/components/blog/BlogPostCard.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import { getAllPosts } from "@/lib/blogPost"

const posts = await getAllPosts()

export const prerender = true
---

<BaseLayout>
  <BaseSEO
    description="いろいろ書いているブログ"
    slot="seo"
    title="すしにっき"
    disableTitleTemplate
  />
  <ContentLayout>
    <div class="my-4 flex flex-col flex-nowrap gap-2">
      <h1 class="text-2xl font-bold">すしにっき</h1>
      <p>様々な文字を書いています</p>
    </div>
    <div class="grid w-full grid-cols-1 justify-stretch gap-4 md:grid-cols-2">
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </ContentLayout>
</BaseLayout>
