---
import AllTags from "@/components/blog/AllTags.astro"
import BlogPostCard from "@/components/blog/BlogPostCard.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BlogLayout from "@/layouts/BlogLayout.astro"
import { getAllPosts } from "@/lib/blog/post"
import { fade } from "astro:transitions"

const posts = await getAllPosts((a, b) => {
  if (a.data.createdAt < b.data.createdAt) return 1
  if (a.data.createdAt > b.data.createdAt) return -1
  return 0
})

export const prerender = true
---

<BlogLayout>
  <BaseSEO
    description="いろいろ書いているブログ"
    slot="seo"
    title="すしにっき"
    disableTitleTemplate
  />
  <ContentLayout>
    <div class="my-4 flex flex-col flex-nowrap gap-2">
      <h1
        class="text-2xl font-bold"
        transition:animate={fade({ duration: 1000 })}
      >
        すしにっき
      </h1>
      <AllTags />
    </div>
    <div class="grid w-full grid-cols-1 justify-stretch gap-4 md:grid-cols-2">
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </ContentLayout>
</BlogLayout>
@/lib/blog/blogPost
