---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import Link from "@/components/base/Link.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const Posts = await getCollection("posts")

export const prerender = true
---

<BaseLayout>
  <ContentLayout>
    <h1>blog</h1>
    <div>
      {
        Posts.map(({ data, slug }: CollectionEntry<"posts">) => (
          <div>
            <Link href={`/blog/post/${slug}`}>
              <h2>{data.title}</h2>
              <p>{data.description}</p>
            </Link>
          </div>
        ))
      }
    </div>
  </ContentLayout>
</BaseLayout>
