---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import Link from "@/components/base/Link.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"
import CloudinaryImage from "@/components/ui/CloudinaryImage.astro"

const Posts = await getCollection(
  "posts",
  (entry) => entry.data.status === "published",
)

export const prerender = true
---

<BaseLayout>
  <ContentLayout>
    <div class="grid grid-cols-2 gap-4">
      {
        Posts.map(({ data, slug }: CollectionEntry<"posts">) => (
          <Link href={`/blog/post/${slug}`} rel="prefetch">
            <span class="flex flex-col flex-nowrap rounded-lg border p-2">
              <CloudinaryImage
                alt={`thumbnail of ${slug}`}
                src={data.thumbnail}
              />
              <h2>{data.title}</h2>
            </span>
          </Link>
        ))
      }
    </div>
  </ContentLayout>
</BaseLayout>
