---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import LinkButton from "@/components/ui/button/LinkButton.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"

export const prerender = true
---

<BaseLayout>
  <BaseSEO description="すしのへやのトップページ" slot="seo" title="ホーム" />
  <ContentLayout>
    <div class="flex h-[60vh] flex-col items-center justify-center gap-4">
      <p class="text-2xl">このページは準備中です。</p>
      <LinkButton href="/">トップページへ戻る</LinkButton>
    </div>
  </ContentLayout>
</BaseLayout>
