@use "./config/mixins" as mix;

[data-footnote-ref] {
  margin-left: 0.25em;
  font-weight: 700;

  @apply text-blue-500 dark:text-blue-400;

  &:hover,
  &:focus {
    @apply hocus:text-blue-500/60 dark:hocus:text-blue-400/75;
  }

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

[data-footnotes] ol {
  list-style-type: decimal;
}

.footnote-label {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

[data-footnote-backref] {
  font-weight: 700;

  @apply text-blue-500 dark:text-blue-400;

  &:hover,
  &:focus {
    @apply hocus:text-blue-500/60 dark:hocus:text-blue-400/75;
  }
}

[data-footnote-backref] * {
  text-underline-offset: 0.25em;
}

[data-footnote-backref]::before {
  margin-inline-end: -1px;
  text-underline-offset: 0.25em;
  content: "戻る";
}
