@use "./config/mixins" as mix;

@mixin typography {
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-position: inside;

  @include mix.budoux;
}
