@use "./base" as base;
@use "./config/mixins" as mixin;
@use "./variables" as var;

// html {
//   scrollbar-gutter: stable;
// }

/* stylelint-disable-next-line selector-no-qualifying-type */
html:has(dialog[open]) {
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-family:
    Roboto,
    "Noto Sans JP",
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    oxygen,
    ubuntu,
    cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  & {
    @include mixin.smooth-scroll;
  }

  & {
    @include base.typography;
  }

  & {
    @include base.base-color;
  }

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  @supports (text-size-adjust: 100%) {
    text-size-adjust: 100%;
  }
}

* {
  letter-spacing: var.$letter-spacing;
}

*::view-transition-group(*) {
  animation-duration: 1.5s;
}

main {
  flex: 1 0 auto;
}

ul {
  padding-inline-start: 1.25rem;
  list-style-type: disc;

  > * {
    margin-bottom: 0.5rem;
  }
}

ol {
  padding-inline-start: 1.25rem;
  list-style-type: decimal;

  > * {
    margin-bottom: 0.5rem;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 1.625rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 1.375rem;
  }
}

h5 {
  font-size: 1.15rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 1.075rem;
  font-weight: 700;

  @include mixin.mq("md") {
    font-size: 1.125rem;
  }
}

body pre,
body code {
  font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

blockquote {
  padding: 1rem;
  border-radius: 0.5rem;

  @apply bg-gray-200 dark:bg-zinc-700;
}

.twitter-tweet {
  overflow: hidden;
  border-radius: 12px;
}
