@use "./variables" as var;
@use "./config/mixins" as mix;

code {
  display: inline-block;
  padding: 0.25em;
  line-height: 1;
  background-color: var.$theme-color-light-darker;
  border-radius: 0.25em;

  @include mix.scheme("dark") {
    background-color: var.$theme-color-dark-lighter;
  }
}
