---
import ContentLayout from "@/components/common/ContentLayout.astro"
import Link from "@/components/element/Link.astro"
import { tv } from "tailwind-variants"

const styles = tv({
  slots: {
    root: "h-[80px] w-full",
    wrapper:
      "flex flex-col-reverse items-center justify-between gap-x-4 md:flex-row",
  },
})()
---

<footer class:list={styles.root()}>
  <ContentLayout class:list={styles.wrapper()}>
    <p>© 2024 sushi-chan</p>
    <Link href="/legal/privacy" variants={{ decoration: "none" }}>
      プライバシーポリシー
    </Link>
  </ContentLayout>
</footer>
