---
import Link from "@/components/base/Link.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
---

<footer class="h-[80px] w-full">
  <ContentLayout class="flex items-center justify-between gap-4">
    <p>© 2023 sushi-chan</p>
    <Link href="/legal/privacy" variants={{ decoration: "none" }}>
      プライバシーポリシー
    </Link>
  </ContentLayout>
</footer>
