---
import Link from "@/components/base/Link.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import NavigationMenu from "@/components/layout/NavigationMenu.astro"
---

<header class="h-[80px] w-full">
  <ContentLayout class="my-8 flex items-center justify-between">
    <Link
      variants={{
        color: "neutral",
        decoration: "none",
        hoverColor: "primary",
      }}
      href="/"
      rel="prefetch-intent"
    >
      <p class="text-base font-bold md:text-2xl">すしのへや</p>
    </Link>
    <NavigationMenu />
  </ContentLayout>
</header>
