---
import ButtonStyle from "@/components/style/button"
import type { PropsWithoutStyle } from "@/utils/@types/propsWithoutStyle"

type Props = PropsWithoutStyle<"a", "astro">

const { href, ...props } = Astro.props
---

<a
  class:list={[
    ButtonStyle({ size: "2xl", color: "transparent" }),
    "inline-block w-fit",
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
