---
import type { PropsWithoutStyle } from "@/utils/@types/propsWithoutStyle";

import ButtonStyle from "@/components/style/button";

type Props = PropsWithoutStyle<"a", "astro">;

const { href, ...props } = Astro.props;
---

<a
  class:list={[
    ButtonStyle({ color: "transparent", size: "2xl" }),
    "inline-block w-fit",
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
