---
import ContentLayout from "@/components/common/ContentLayout.astro"
import Link from "@/components/element/Link.astro"
import HistoryLayout from "@/components/layout/HistoryLayout.astro"
import BlogStyle from "@/features/blog/components/BlogStyle.astro"
import BaseSEO from "@/features/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <BaseSEO description="経歴など" slot="seo" title="History" isHiddenPage />
  <ContentLayout>
    <BlogStyle class="h-[340svh]" colorHeading={[]}>
      <HistoryLayout>
        <h1>Welcome!</h1>
        <span class="text-lg">
          自己紹介はこちら ▶
          <Link href="/about">About</Link></span
        >

        <div>
          <h2>Blog</h2>
          <p>
            ブログも書いています。<br />記事一覧はこちら ▶
            <Link href="/blog">Blog</Link>
          </p>
        </div>
        <div>
          <h2>Portfolio</h2>
          <p>
            これまでの制作物をまとめています。<br />詳しくはこちら ▶
            <Link href="/portfolio">Portfolio</Link>
          </p>
        </div>
      </HistoryLayout>
    </BlogStyle>
  </ContentLayout>
</BaseLayout>
