---
import Link from "@/components/base/Link.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"

export const prerender = true
---

<BaseLayout>
  <ContentLayout>
    <p>
      このサイトはβ版です。
      <br />
       現在
      <Link
        href="/blog"
        variants={{ decoration: "underline", color: "primary" }}
      >
        ブログ
      </Link>
       のみ実装されています。
    </p>
  </ContentLayout>
</BaseLayout>
