---
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <BaseSEO description="すしのへやのトップページ" slot="seo" title="ホーム" />
  <ContentLayout>
    <h1>すしのへや</h1>
    <div class="divider"></div>
    <p>
      このサイトはβ版です。メインページはそのうち作ります。
      <br />
      ヘッダーからコンテンツに移動できます。
    </p>
  </ContentLayout>
</BaseLayout>
