---
import Link from "@/components/base/Link.astro"
import ContentLayout from "@/components/common/ContentLayout.astro"
import BaseSEO from "@/components/meta/BaseSEO.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <BaseSEO description="すしのへやのトップページ" slot="seo" title="ホーム" />
  <ContentLayout>
    <p>
      このサイトはβ版です。
      <br />
      現在
      <Link
        href="/blog"
        variants={{ color: "primary", decoration: "underline" }}
      >
        ブログ
      </Link>
      のみ実装されています。
    </p>
  </ContentLayout>
</BaseLayout>
