---
import type { VariantProps } from "tailwind-variants"

import LinkStyle from "@/components/style/link"
import type { PropsWithoutStyle } from "@/utils/@types/propsWithoutStyle"

export type Props = PropsWithoutStyle<"a", "astro"> & {
  variants?: VariantProps<typeof LinkStyle>
}

const { variants, href, ...props } = Astro.props
---

<a class:list={[LinkStyle(variants)]} href={href} {...props}><slot /></a>
