---
import WithCaption, {
  type CaptionProps,
} from "@/components/common/WithCaption.astro"
import { tv, type VariantProps } from "tailwind-variants"

type Props = VariantProps<typeof style> & CaptionProps

const { isFigure, caption, ...props } = Astro.props

const style = tv({
  base: "flex flex-col flex-nowrap gap-1 p-2",
  variants: {
    round: {
      true: "rounded-lg",
    },
    shadow: {
      true: "drop-shadow-md transition-shadow duration-200 ease-out hover:drop-shadow-lg",
    },
    maxWidth: {
      full: "max-w-full",
      content: "max-w-[600px]",
    },
    hover: {
      true: "transition-transform duration-500 ease-in-out hover:-translate-y-1",
    },
    center: {
      true: "mx-auto",
    },
  },
  defaultVariants: {
    round: false,
    shadow: false,
    maxWidth: "content",
    hover: false,
    center: true,
  },
})
---

<div class:list={style(props)}>
  <WithCaption caption={caption} isFigure={isFigure}>
    <slot />
  </WithCaption>
</div>
