---
import WithCaption, {
  type CaptionProps,
} from "@/components/common/WithCaption.astro";
import { type VariantProps, tv } from "tailwind-variants";
export type CardProps = CaptionProps & VariantProps<typeof style>;

type Props = CardProps;

const { caption, isFigure, ...props } = Astro.props;

const style = tv({
  base: "flex flex-col flex-nowrap gap-1 content-visibility-auto",
  defaultVariants: {
    center: true,
    maxWidth: "content",
    round: false,
    shadow: false,
  },
  variants: {
    center: {
      true: "mx-auto",
    },
    maxWidth: {
      content: "w-[min(100%,600px)] max-w-[600px]",
      full: "max-w-full",
    },
    round: {
      true: "rounded-lg",
    },
    shadow: {
      true: "shadow-sm transition-shadow duration-500 ease-out hocus:shadow",
    },
  },
});
---

<WithCaption caption={caption} isFigure={isFigure}>
  <div class:list={style(props)}>
    <slot />
  </div>
</WithCaption>
