---
import WithCaption, {
  type CaptionProps,
} from "@/components/common/WithCaption.astro"
import { type VariantProps, tv } from "tailwind-variants"
export type CardProps = VariantProps<typeof style> & CaptionProps

type Props = CardProps

const { caption, isFigure, ...props } = Astro.props

const style = tv({
  base: "flex flex-col flex-nowrap gap-1 overflow-hidden content-visibility-auto",
  compoundVariants: [{ class: "transition-all", hover: true, shadow: true }],
  defaultVariants: {
    center: true,
    hover: false,
    maxWidth: "content",
    round: false,
    shadow: false,
  },
  variants: {
    center: {
      true: "mx-auto",
    },
    hover: {
      true: "transition-transform duration-500 ease-in-out hocus:-translate-y-1",
    },
    maxWidth: {
      content: "w-[min(100%,600px)] max-w-[600px]",
      full: "max-w-full",
    },
    round: {
      true: "rounded-lg",
    },
    shadow: {
      true: "shadow-sm transition-shadow duration-500 ease-out hocus:shadow",
    },
  },
})
---

<div class:list={style(props)}>
  <WithCaption caption={caption} isFigure={isFigure}>
    <slot />
  </WithCaption>
</div>
