---
import { tv, type VariantProps } from "tailwind-variants"

type Props = VariantProps<typeof style>
const { type = "content" } = Astro.props

const style = tv({
  variants: {
    type: {
      content: "max-w-screen-md",
      full: "max-w-full",
    },
  },
  defaultVariants: {
    type: "content",
  },
})
---

<div class:list={style({ type })}>
  <slot />
</div>
