---
import { tv, type VariantProps } from "tailwind-variants"

type Props = VariantProps<typeof style>
const { type = "content", center } = Astro.props

const style = tv({
  variants: {
    type: {
      content: "max-w-[960px]",
      full: "max-w-full",
    },
    center: {
      true: "mx-auto",
    },
  },
  defaultVariants: {
    type: "content",
  },
})
---

<div class:list={style({ type, center })}>
  <slot />
</div>
