---
import { type VariantProps, tv } from "tailwind-variants"

type Props = VariantProps<typeof style>
const { center, type = "content" } = Astro.props

const style = tv({
  defaultVariants: {
    type: "content",
  },
  variants: {
    center: {
      true: "mx-auto",
    },
    type: {
      content: "max-w-[840px]",
      full: "max-w-full",
    },
  },
})
---

<div class:list={style({ center, type })}>
  <slot />
</div>
