---
export type CaptionProps = {
  caption?: string
  isFigure?: boolean
}

type Props = CaptionProps

const { caption, isFigure } = Astro.props
const CaptionTag = isFigure ? "figcaption" : "span"
---

<div class="flex w-full flex-col items-center gap-1 [&>*]:w-full">
  <slot />
  {
    caption && (
      <CaptionTag class="inline-block justify-center text-center text-base">
        {caption}
      </CaptionTag>
    )
  }
</div>
