---
export type CaptionProps = {
  isFigure?: boolean
  caption?: string
}

type Props = CaptionProps

const { isFigure, caption } = Astro.props
const CaptionTag = isFigure ? "figcaption" : "span"
---

<div class="flex w-full flex-col items-center gap-1">
  <slot />
  {
    caption && (
      <CaptionTag class="inline-block justify-center text-center text-base">
        {caption}
      </CaptionTag>
    )
  }
</div>
