@use "../../../styles/base" as base;

.root {
  @include base.base-content-margin;

  line-height: 1.8;
}

.h1 {
  h1 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}

.h2 {
  h2 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}

.h3 {
  h3 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}

.h4 {
  h4 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}

.h5 {
  h5 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}

.h6 {
  h6 {
    border-bottom: 1px solid rgb(96 165 250);
  }
}
