---
import Footer from "@/components/layout/Footer.astro"
import Header from "@/components/layout/Header.astro"
import BaseHead from "@/components/meta/BaseHead.astro"
---

<html lang="ja">
  <head>
    <BaseHead />
    <slot name="seo" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
