---
import "@/components/utils/transition-progress.css"
---

<div id="progress-container"></div>

<script>
  import { viewTransitionAvailable } from "@/utils/htmlHelper"
  import N from "nprogress"

  N.configure({
    showSpinner: false,
    parent: "#progress-container",
  })

  let intervalId: number | undefined = undefined

  const setupProgress = (pathName: string) => {
    if (!viewTransitionAvailable) return false

    window.addEventListener("popstate", (e) => {
      if (e.state == null || e.state?.intraPage) return false
      startProgress()
    })

    for (const elem of document.querySelectorAll("a")) {
      elem.addEventListener("click", (e) => {
        const targetUrl = new URL(elem.href)
        if (
          targetUrl.origin === window.location.origin && // same origin
          targetUrl.pathname.startsWith(pathName) &&
          targetUrl.pathname !== window.location.pathname // ignore same pathname hash changes
        ) {
          startProgress()
          setTimeout(() => {
            finishProgress()
          }, 10000)
        }
      })
    }
  }

  const startProgress = () => {
    if (N.isStarted()) return false

    N.start()
    intervalId = window.setInterval(() => {
      N.inc()
    }, 100)
  }

  const finishProgress = () => {
    if (intervalId !== undefined) {
      window.clearInterval(intervalId)
      intervalId = undefined
    }
    if (N.isStarted()) {
      N.done()
      setTimeout(() => {
        N.remove()
      }, 500)
    }
  }

  document.addEventListener("astro:page-load", () => {
    finishProgress()
    setupProgress("/blog")
  })
</script>

<style>
  /* stylelint-disable-next-line selector-max-id */
  #progress-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    height: 3px;
  }
</style>
