---
import "./transition-progress.css";
---

<div id="progress-container"></div>

<script>
  import N from "nprogress";

  N.configure({
    parent: "#progress-container",
    showSpinner: false,
  });

  let intervalId: number | undefined = undefined;

  const startProgress = () => {
    if (N.isStarted()) return;

    N.start();
    intervalId = window.setInterval(() => {
      N.inc();
    }, 200);
  };

  const finishProgress = () => {
    if (intervalId !== undefined) {
      window.clearInterval(intervalId);
      intervalId = undefined;
    }
    if (N.isStarted()) {
      N.done();
    }
  };

  // These events are only fired in View Transition Mode,
  // so It's not fired in browser that doesn't support View Transition.
  document.addEventListener("astro:before-preparation", () => {
    startProgress();
  });

  document.addEventListener("astro:after-preparation", () => {
    finishProgress();
  });
</script>

<style>
  /* stylelint-disable-next-line selector-max-id */
  #progress-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    height: 3px;
  }
</style>
