---

---

<ol class="relative list-none border-s border-blue-400 dark:border-blue-600">
  <slot />
  <div
    class="absolute bottom-[-12px] start-[-6px] my-0 h-0 w-0 border-x-[6px] border-t-[12px] border-x-transparent border-t-blue-400 dark:border-t-blue-600"
  >
  </div>
</ol>
