---

---

<ol class="relative list-none border-s border-blue-600 dark:border-blue-400">
  <slot />
  <div
    aria-hidden="true"
    class="absolute bottom-[-12px] start-[-6px] my-0 size-0 border-x-[6px] border-t-[12px] border-x-transparent border-t-blue-600 dark:border-t-blue-400"
  >
  </div>
</ol>
