---
import ContentLayout from "@/components/common/ContentLayout.astro";
import Link from "@/components/element/Link.astro";
import LocalImage from "@/components/element/LocalImage.astro";
import UrlCard from "@/components/ui/card/UrlCard.astro";
import BlogStyle from "@/features/blog/components/BlogStyle.astro";
import BaseSEO from "@/features/meta/BaseSEO.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { EXPERIENCES } from "@/pages/portfolio/_data";
import Experience from "@/pages/portfolio/_experience.astro";
import ExperienceWrapper from "@/pages/portfolio/_experienceWrapper.astro";
import SkillsSvg from "@/pages/portfolio/_skills.svg";
import Work from "@/pages/portfolio/_work.astro";
---

<BaseLayout>
  <BaseSEO
    description="今までやってきたことや作ってきたものをまとめています。"
    slot="seo"
    title="Portfolio"
  />
  <ContentLayout>
    <BlogStyle colorHeading={[]} headingMargin="normal">
      <h1>Portfolio</h1>
      <p>
        今までやってきたことや作ってきたものをまとめています。<br />
        <span>
          GitHubはこちら ▶<Link href="https://github.com/sushi-chaaaan">
            My GitHub
          </Link></span
        >
      </p>
      <div class="space-y-12">
        <div>
          <h2>💭 Mind</h2>
          <p>
            <span class="text-lg"
              >「誰かの『好き』や『やりたい』を最大限に実現する手伝いをする」</span
            ><br />
            <span>
              をモットーに、ファンコミュニティの運営やファン企画・二次創作を技術的に支援するツール・サービスの開発を行っています。
            </span>
          </p>
        </div>
        <div>
          <h2 class="mb-2" id="skills">⚙️ Skills</h2>
          <LocalImage
            alt="skills: html,css,tailwind,js,ts,nextjs,react,astro,nodejs,vite,workers,cloudflare,py,docker,git,github,githubactions,discord,twitter,vscode"
            class="mx-auto"
            height={SkillsSvg.height}
            priority
            src={SkillsSvg}
            width={SkillsSvg.width}
          />
        </div>
        <div>
          <h2 class="mb-2" id="experience">🚀 Experience</h2>
          <ExperienceWrapper>
            {
              EXPERIENCES.map((experience) => (
                <Experience experience={experience} />
              ))
            }
          </ExperienceWrapper>
        </div>
        <div>
          <h2 class="mb-2" id="works">💻 Works</h2>
          <div class="space-y-8">
            <Work
              tags={[
                "フロントエンド未定",
                "Lucia Auth?",
                "PlanetScale?",
                "Cloudflare Pages",
              ]}
              title="ちいさなよせがき(開発中)"
            >
              <p slot="description">
                <span
                  >Twitterアカウントだけで、気軽に短文寄せ書きを作れるオンライン完結のWebサービスです。</span
                >
                <br /><span
                  >例えばライブの当日のようなその場で簡単に募集するタイプの寄せ書きをオンラインでも気軽に立てられるようにすることを目指しています。</span
                >
              </p>
            </Work>
            <Work
              repoUrl="https://github.com/sushi-chaaaan/tiny-yosegaki-prototype"
              tags={["Next.js(App)", "Mantine", "Supabase", "Drizzle ORM"]}
              title="ちいさなよせがき(プロトタイプ)"
            >
              <p slot="description">
                開発中のちいさなよせがきのプロトタイプとして、2024年2月に3週間ほどで作ったものです。
              </p>
              <UrlCard url="https://yellbox.vercel.app" />
              <UrlCard url="/blog/post/tech/yosegaki-challenge" />
            </Work>
            <Work
              tags={["Next.js(App)", "SCSS", "Cloudflare"]}
              title="第73回調布祭公式サイト"
            >
              <p slot="description">
                技術選定・設計から関わり、費用を抑えつつも高速かつ使いやすいWebサイトを構築しました。<br
                />ご来場の方からも好評をいただきました。
              </p>
              <UrlCard url="https://73rd.chofusai.jp" />
              <UrlCard url="/blog/post/tech/chofusai-2023-website" />
            </Work>
            <Work
              repoUrl="https://github.com/sushi-chaaaan/ductile-ui"
              tags={["Python", "discord.py", "Library"]}
              title="ductile-ui"
            >
              <p slot="description">
                <span> 初めて制作したライブラリです。</span>
                <br />
                <span
                  >Discord BotでよりリッチなUIを実現するためのMessage
                  ComponentをReactのような宣言的UIで書けるようにしています。</span
                >
                <br />
                <span
                  >また、細部まで型付けされており、ジェネリクスなどを用いて快適な開発ができます。</span
                >
              </p>
            </Work>
            <Work
              repoUrl="https://github.com/sushi-chaaaan/sushichan.live"
              tags={["Astro", "Tailwind CSS", "Cloudflare"]}
              title="2代目個人サイト(このサイト)"
            >
              <p slot="description">
                <span>
                  やや過剰な構成であった旧個人サイトをより簡単に維持するために、Astroを用いてリニューアルしました。
                </span>
                <br />
                <span
                  >また、デプロイ先としてCloudflare Pagesを採用しました。</span
                >
              </p>
            </Work>
            <Work
              tags={["Next.js(App)", "Clerk"]}
              title="TrackShare(prototype)"
            >
              <p slot="description">
                <span>
                  認証基盤を提供するClerkを使ってみたかったので作成したWebアプリです。
                </span><br /><span>
                  Spotify APIの制約上一般公開はできませんが、
                  下で紹介している#Nowplaying-APIにフロントエンドを実装したものとなっています。
                </span>
              </p>
              <UrlCard url="/blog/post/tech/track-share" />
            </Work>
            <Work
              repoUrl="https://github.com/sushi-chaaaan/NowPlaying-Hono"
              tags={["TypeScript", "Hono", "Cloudflare Workers"]}
              title="#Nowplaying-API"
            >
              <p slot="description">
                <span>
                  聴いている音楽を気軽にツイートしたいので作ったAPIです。
                </span>
                <br />
                <span>
                  Cloudflare WorkersとHonoの学習の一環で作成しました。
                </span>
                <br /><span
                  >Workers KVを使ってSpotify
                  APIから取得したデータをキャッシュすることで高速な応答を実現しています。</span
                >
              </p>
            </Work>
            <Work
              repoUrl="https://github.com/sushi-chaaaan/old.sushichan.live"
              tags={["Next.js(App)", "SCSS"]}
              title="初代個人サイト"
            >
              <p slot="description">
                <span>
                  第73回調布祭公式サイトの開発に携わることとなり、Next.jsに慣れておきたかったので作成したWebサイトです。
                </span>
                <br />
                <span>
                  next-mdx-remoteなどを用いて、Markdown /
                  MDXを格納したフォルダからページを動的に生成する機能などを実装しました。</span
                >
              </p>
              <UrlCard url="http://old.sushichan.live" />
            </Work>
            <Work
              tags={["Next.js(Pages)", "Tailwind CSS"]}
              title="2023年度調布祭実行委員会新歓Webサイト"
            >
              <p slot="description">
                <span>初めて制作したWebサイトです。</span>
                <br />
                <span>
                  Next.jsとTailwind CSSを使い、1週間ほどで制作しました。
                </span>
              </p>
              <UrlCard url="http://shinkan-2023.chofusai.jp" />
            </Work>
          </div>
        </div>
      </div>
    </BlogStyle>
  </ContentLayout>
</BaseLayout>
