---
import { EmbeddedTweet } from "react-tweet"
import type { Tweet } from "react-tweet/api"

import { declareLet } from "@/utils/declareLet"
type Props = {
  id: string
}

const { id } = Astro.props
const TWEET_API_URL = import.meta.env.TWEET_API_URL

const tweet = await declareLet(async () => {
  let tw: Tweet | undefined = undefined
  try {
    const res = await fetch(`${TWEET_API_URL}/tweet/${id}`)
    const isJson = res.headers.get("content-type")?.includes("application/json")
    const data = isJson ? await res.json() : undefined
    if (res.ok) {
      tw = data
    }
  } catch (e) {
    console.error(e)
    tw = undefined
  }
  return tw
})
---

<div class="flex justify-center">
  {tweet && <EmbeddedTweet client:only="react" tweet={tweet} />}
</div>
