---
import type { RequiredKey } from "@/utils/@types/requiredKey"

import BudouX from "@/components/common/BudouX.astro"
import Icon from "@/components/common/Icon.astro"
import { type VariantProps, tv } from "tailwind-variants"

export type Props = RequiredKey<VariantProps<typeof style>, "type">
const { type } = Astro.props

const style = tv({
  base: "mx-auto flex w-full flex-row flex-nowrap items-center gap-4 rounded-lg p-4",
  variants: {
    type: {
      alert: "bg-red-300 dark:bg-red-700",
      info: "bg-sky-300 dark:bg-sky-700",
      warn: "bg-yellow-300 dark:bg-yellow-700",
    },
  },
})

const icon = (type: Props["type"]) => {
  switch (type) {
    case "warn":
      return "fa6-solid:triangle-exclamation"
    case "alert":
      return "fa6-solid:circle-exclamation"
    case "info":
      return "fa6-solid:circle-info"
  }
}
---

<div class:list={style({ type: type })}>
  <Icon icon={icon(type)} size="xl" />
  <div>
    <BudouX>
      <slot />
    </BudouX>
  </div>
</div>
